<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
    <div class="message">
        <h1 class="animated-text">500</h1>
        <p class="animated-text">Something's Wrong👀</p>
        <p class="animated-text">홈으로 돌아가기</p>
    </div>
    <div class="fireworks"></div>
</div>
</body>
</html>
